<div>{{ flash.message }}</div>
<h1>Товары</h1>
{% if products|length > 0 %}
<ul>
  {% for item in products %}
  <li>
    <h2><a href="/products/{{ item.id }}">{{ item.name }}</a></h2>
    <p>Цена: {{ item.price }}</p>
    <form action="/basket" method="POST">
      <input type="hidden" name="product_id" value="{{ item.id }}">
      <input type="submit" value="В корзину">
    </form>
  </li>
  {% endfor %}
</ul>
{% else %}
Товаров нет
{% endif %}
